{% extends 'base.html' %}

{% block content %}
<main>
    <h2>Contactos</h2> 
    <p></p> <b>En donde nos encuentras</b> ✅</p>
    <div class="comentario">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d882.0243019375627!2d-58.76737576371814!3d-27.837546982097223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944f8bc766bcc815%3A0xe98a6554344edb2b!2sAutomec!5e0!3m2!1ses-419!2sar!4v1684274808934!5m2!1ses-419!2sar" width="300" height="225" style="border: 1px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3524.3005892073097!2d-58.811741324617934!3d-27.954079137517823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944f93923558bdaf%3A0xcb796337e3d4445b!2sPlaza%2025%20de%20Mayo!5e0!3m2!1ses-419!2sar!4v1684274252435!5m2!1ses-419!2sar" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"align="left"></iframe>
    </div>
    <br>
    <hr>
    <h3>Contacto</h3>
    <hr>
    <p>Domicilio de comercializacion en <b>Empedrado</b>: Plaza 25 de Mayo </p>
    <p>Domicilio de comercializacion y elaboracion: <b>Ruta 12 km 989,5 Manuel Derqui</b></p>
    <p>Productor: <b>Castagna Jorge</b></p>
</main>

{% endblock %}