{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <div class="contenedor_con_sidebar">
        <aside  class="sidebar">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, pariatur! Cupiditate, vero aut nemo perspiciatis sit dolore, blanditiis non corporis nam accusantium odit aliquid! Error, dicta? Vitae quas dolorem assumenda!
        </aside>
        <main  class="cuerpo-principal">
            <img class="foto_portada" src="{% static '/imagenes/Stan de dulces.jpg' %}" alt="feria empedrado" width="80%">
            
        <aside  class="sidebar">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, error delectus aperiam facilis totam iusto impedit dolor nulla doloremque dolores iure harum facere quam ipsam placeat alias sapiente repellendus! Asperiores.
        </aside>     
    </div>    
</main>

{% endblock %}
