{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <div class="contenedor_con_sidebar">
        <aside  class="sidebar">
            <b>¡Bienvenidos a la Feria Franca de Empedrado!</b>

            En nuestra hermosa ciudad de <b>Empedrado</b>, Corrientes,
            nos enorgullece presentar nuestra Feria Franca, un espacio donde se celebra la producción local y se fomenta el consumo de alimentos frescos y saludables. 
            Nos dedicamos principalmente a la producción de frutas, hortalizas y verduras orgánicas,
            así como a la elaboración artesanal de dulces caseros que deleitan los paladares más exigentes.
        </aside>
        <div  class="cuerpo-principal">
            <img class="foto_portada" src="{% static '/imagenes/Stan de dulces.jpg' %}" alt="feria empedrado" width="80%">
        </div>    
        <aside  class="sidebar">
            En la Feria Franca de Empedrado, no solo encontrarás productos deliciosos,
            también vivirás una experiencia única. 
            Nuestro objetivo es promover el comercio justo, 
            fortalecer los lazos entre los productores y los consumidores, 
            y generar un sentido de comunidad en torno a la producción local. 
            Ven a visitarnos y descubre la frescura,
            la calidad y la calidez de nuestros productos y de las personas que los hacen posibles.
        </aside>     
    </div>    
</main>

{% endblock %}
