{% extends 'base.html' %}

{% block content %}

<main>
    <div class="main-color-productos">
        <h1>Todos los productos</h1>
        <h2><a href="{% url 'productos:create' %}">CREAR PRODUCTO</a></h2>
        {% for producto in producto_list %}
        <div class="list">
            <span> 
                <p>{{forloop.counter}}</p>
            </span>
            <span>
                <p>{{producto.articulo}}</p>
            </span>
            <span>
                <label for="">Detalle: </label>
                <a href="{% url 'productos:detail' producto.id %}">+</a>
            </span>
            <span>
                <label for="">Editar: </label>
                <a href="{% url 'productos:update' producto.id %}">+</a>
            </span>
            <span>
                <label for="">Borrar: </label>
                <a href="{% url 'productos:delete' producto.id %}">+</a>
            </span>
        </div>

        {% endfor %}
    </div>
</main>
{% endblock %}